<div class="row">
  <div class="col-md-12">
    <a class="btn btn-default pull-right" href="/contacts/new" role="button">New contact</a>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Status</th>
        <th>Added At</th>
      </tr>
      </thead>
      <tbody>
      <% @contacts.each.with_index do |value, index| %>
          <tr class="active">
            <td><%= index+1 %></td>
            <td><%= link_to value.name, edit_contact_path(value)  %></td>
            <td><%= value.email %></td>
            <td><%= value.status %></td>
            <td><%= value.created_at.strftime("%v") %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
